/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences) 
 * ###################################################################*/
stage {
	font-family: sans, sans-serif;
}
.cinnamon-link {
	color: #064e9a;
	text-decoration: underline;
}
.cinnamon-link:hover {
	color: #3771ae;
}
.label-shadow {
	color: rgba(0,0,0,0.4);
}
StScrollBar {
	padding: 0px;
}
StScrollView.vfade {
	-st-vfade-offset: 68px;
}
StScrollView StScrollBar {
	min-width: 9px;
	min-height: 9px;
}

StScrollBar StBin#trough {
	background-color: #323232;
	border-radius: 0px;
}
StScrollBar StButton#vhandle {
	background-color: #141414;
    border: 1px solid #262626;
    border-radius: 0px;
}
StScrollBar StButton#hhandle {
	background-color: #141414;
    border: 1px solid #262626;
    border-radius: 0px;
}
StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
	background-color: #a3211e;
}

#Tooltip {
	border: 1px solid rgba(9,7,5, 0.1);
	border-radius: 0px;
	padding: 2px 12px;
	background-gradient-end: rgba(9,7,5, 0.8);
	background-gradient-start: rgba(9,7,5, 0.8);
	background-gradient-direction: vertical;
	color: #ffffff;
	font-size: 8.5pt;
	font-weight: normal;
	text-align: center;
}
/* ===================================================================
 * Shared button properties 
 * ===================================================================*/
.notification-button, .notification-icon-button,
.modal-dialog-button {
	color: #b2b2b2;
	border: 1px solid #141414;
    background-gradient-direction: vertical;
    background-gradient-start: #262626;
    background-gradient-end: #262626;
    box-shadow: 0 1px rgba(255,255,255,0.08);
}
.notification-button:hover,
.notification-icon-button:hover, .modal-dialog-button:hover {
	background-gradient-start: #323232;
    background-gradient-end: #323232;
    box-shadow: inset 0 1px rgba(255,255,255,0.2);
}
.notification-button:focus,
.notification-icon-button:focus,
.modal-dialog-button:focus {
	border: 2px solid #990906;
}
.notification-button:active, .notification-icon-button:active,
.modal-dialog-button:active, .modal-dialog-button:pressed {
	background-gradient-start: #7a0704;
    background-gradient-end: #7a0704;
box-shadow: none;
}
/* ===================================================================
 * PopupMenu (popupMenu.js) 
 * ===================================================================*/
.menu {
    border-radius: 0px;
    background-color: rgba(0,0,0,0.8);
    border-width: 0px;
    border-color: rgb(9,7,5);
    color: #b2b2b2;
    font-size: 9.5pt;
    min-width: 100px;
}
.popup-menu-boxpointer {
	-arrow-border-radius: 0px;
    -arrow-background-color: rgba(0,0,0,0.8);
    -arrow-border-width: 1px;
    -arrow-border-color: rgb(9,7,5);
    -arrow-base: 22px;
    -arrow-rise: 8px;
}
.popup-menu {
	color: #b2b2b2;
	font-size: 9.5pt;
	min-width: 100px;
}
.popup-submenu-menu-item:open {
	background-color: #211f1d;
}
.popup-sub-menu {
	background-gradient-start: #3a3836;
    background-gradient-end: #3a3836;
    background-gradient-direction: vertical;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.7);
}
.popup-sub-menu .popup-menu-item:ltr {
	padding-right: 0em;
}
.popup-sub-menu .popup-menu-item:rtl {
	padding-left: 0em;
}
.popup-sub-menu StScrollBar {
	padding: 4px;
}
.popup-sub-menu StScrollBar StBin#trough {
	border-width: 0px;
}
.popup-sub-menu StScrollBar StBin#vhandle {
	background-color: #990906; /* NOT SOUND */
	border-width: 0px;
}
.popup-combo-menu {
	background-color: #262626;
	padding: 1em 0em;
	color: #b2b2b2;
	font-size: 10.5pt;
	border: 1px solid #141414;
	border-radius: 0px;
}
/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
	padding: 1em 0em;
}
.popup-menu-item {
	padding: .4em 1.75em;
	spacing: 1em;
}
.popup-menu-item:active { /* SOUND SLIDER */
	background-color:rgba(255,255,255,0.2);
    color: white;
}
.popup-menu-item:insensitive {
	color: #4c4c4c;
}
.popup-image-menu-item {
}
.popup-combobox-item {
	spacing: 1em;
}
.popup-separator-menu-item {
	-gradient-height: 1px;
    -gradient-start: rgba(25,25,25,0.0);
    -gradient-end: rgba(25,25,25,0.6);
	-margin-horizontal: 1.5em;
	height: 1em;
}
.popup-alternating-menu-item:alternate {
	font-weight: bold;
}
.popup-slider-menu-item {
	height: 1em;
	min-width: 15em;
	-slider-height: 0.3em;
	-slider-background-color: #323232;
    -slider-border-color: #323232;
    -slider-active-background-color: #990906;
    -slider-active-border-color: #990906;
	-slider-border-width: 1px;
	-slider-handle-radius: 0.5em;
}
.popup-device-menu-item {
	spacing: .5em;
}
.popup-inactive-menu-item {
	font-weight: normal;
	color: #4c4c4c;
}
.popup-subtitle-menu-item {
	font-weight: bold;
}
.popup-menu-icon {
	icon-size: 1.14em;
}
/* Switches (to be used in menus) */
.toggle-switch {
	width: 65px;
	height: 22px;
}
.toggle-switch-us {
	background-image: url("toggle-off-us.svg");
}
.toggle-switch-us:checked {
	background-image: url("toggle-on-us.svg");
}
.toggle-switch-intl {
	background-image: url("toggle-off-intl.svg");
}
.toggle-switch-intl:checked {
	background-image: url("toggle-on-intl.svg");
}
.nm-menu-item-icons {
	spacing: .5em;
}
/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/
#panel {
	color: #b2b2b2;
	background-color: rgba(0,0,0,0.8);
	font-size: 8.5pt;
	font-weight: normal;
	height: 26px;
}
#panelLeft {
	spacing: 4px;
}
#panelCenter {
	spacing: 4px;
}
#panelLeft:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,0,0,0.05);
	background-gradient-end: rgba(255,0,0,0.2);
}
#panelCenter:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,255,0,0.05);
	background-gradient-end: rgba(0,255,0,0.2);
}
#panelRight:dnd {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(0,0,255,0.05);
	background-gradient-end: rgba(0,0,255,0.2);
}
#panelLeft:ltr {
	padding-right: 4px;
}
#panelLeft:rtl {
	padding-left: 4px;
}
#panelRight:ltr { 
	padding-left: 0px;
	spacing: 0px;
}
#panelRight:rtl {
	padding-right: 0px;
	spacing: 0px;
}
.panel-top {
	 background-color: rgba(0,0,0,0.85);
}
.panel-bottom {
 	background-color: rgba(0,0,0,0.85);

}
.panel-status-button {
	border: 0px solid #990906;
	-natural-hpadding: 3px;
	-minimum-hpadding: 3px;
	font-weight: bold;
	color: #b2b2b2;
	height: 22px;
}
.panel-status-button:hover {
	color: white;
}
.system-status-icon {
	padding-left: 0px;
	padding-right: 0px;
	spacing: 0px;
	margin: 0px;
}

.panel-corner {
	-panel-corner-radius: 0px;
	-panel-corner-background-color: #000;
	-panel-corner-inner-border-width: 2px;
	-panel-corner-inner-border-color: transparent;
	-panel-corner-outer-border-width: 1px;
	-panel-corner-outer-border-color: transparent;
}
.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
	-panel-corner-inner-border-color: rgba(0,0,0,0.0);
}
#appMenu {
	spacing: 4px;
}
.panel-button #appMenuIcon {
	app-icon-bottom-clip: 1px;
}
.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
	app-icon-bottom-clip: 2px;
}
.panel-button {
	-natural-hpadding: 6px;
	-minimum-hpadding: 2px;
	font-weight: bold;
	color: #b2b2b2;
	transition-duration: 100;
}
.panel-button:hover {
	color: white;
	text-shadow: black 0px 2px 2px;
}
.panel-button:active,
.panel-button:overview,
.panel-button:focus {
	
}
.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
	icon-shadow: black 0px 2px 2px;
}
.panel-menu {
	-boxpointer-gap: 4px
}
.popup-menu-item-dot {
}
.system-status-icon {
	icon-size: 1.14em;
}
/* ===================================================================
 * Overview 
 * ===================================================================*/
#overview {
	spacing: 12px;
}
.window-caption {
	background-color: rgba(9,7,5,0.8);
	color: #b2b2b2;
	spacing: 25px;
}

.window-caption#selected {
	background-color: white;
	color: black;
	spacing: 25px;
}

.workspace-controls {
	visible-height: 32px; /* Amount visible before hovering */
}
.workspace-thumbnails-background {
	border: 1px solid rgb(9,7,5);
	border-right: 0px;
	border-radius: 0px;
	background-color: rgba(9,7,5,0.8);
	padding: 8px;
}
.workspace-thumbnails-background:rtl {
	border-right: 1px;
	border-left: 0px;
	border-radius: 0px;
}
.workspace-thumbnails {
	spacing: 14px;
}
.workspace-add-button {
	background-image: url("add-workspace.png");
	height: 200px;
	width: 35px;
	transition-duration: 300;
}
.workspace-add-button:hover {
	background-image: url("add-workspace-hover.png");
	transition-duration: 300;
}

.workspace-close-button {
    background-image: url("close.svg");
    height: 20px;
    width: 20px;
    -cinnamon-close-overlap: 20px;
}

.workspace-thumbnail-indicator {
	outline:4px solid rgba(255,255,255,1);
	border: 0px solid #004065;
}
.window-caption {
	background: rgba(9,7,5,0.8);
	border: 2px solid rgba(9,7,5,0.9);
	border-radius: 0px;
	font-size: 9pt;
	padding: 2px 8px;
	-cinnamon-caption-spacing: 4px;
}
.window-close {
	background-image: url("close.svg");
	height: 20px;
	width: 20px;
	-cinnamon-close-overlap: 20px;
}
.window-close:rtl {
	-st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

.window-close-area {
	background-image: url("trash-icon.png");
	background-color: #262626;
	border: 4px solid #141414;
	border-bottom-width: 0px;
	border-radius: 0px;
	height: 120px;
	width: 400px;
}

.overview-icon {
	border-radius: 0px;
	padding: 3px;
	border: 1px rgba(0,0,0,0);
	font-size: 7.5pt;
	color: white;
	transition-duration: 100;
	text-align: center;
}

.expo-background {
	background-gradient-start: #000;
	background-gradient-end: #0c0c0c;
	background-gradient-direction: vertical
}

.workspace-overview-background-shade {
	background-color: rgba(0,0,0,0.4);
}

.expo-workspace-thumbnail-frame {
	border: 1px, #990906;
	background-color: #990906;
}

.expo-workspace-thumbnail-frame#active {
	border: 2px, #990906;
	background-color: #990906;
}

/* ===================================================================
 * Looking Glass 
 * ===================================================================*/
#LookingGlassDialog {
	background-color: rgba(9,7,5,0.8);
	spacing: 4px;
	padding: 4px;
	border: 2px solid grey;
	border-radius: 0px;
	color: #b2b2b2;
}
#LookingGlassDialog > #Toolbar {
	border: 1px solid grey;
	border-radius: 0px;
}
#LookingGlassDialog .labels {
	spacing: 4px;
}
#LookingGlassDialog .notebook-tab {
	padding: 2px;
}
#LookingGlassDialog .notebook-tab:hover {
	color: #FFFFFF;
}
#LookingGlassDialog .notebook-tab:selected {
	border: 1px solid white;
	border-radius: 0px;
	padding: 5px;
}
#LookingGlassDialog .lg-inspector-title {
	font-weight: bold;
	padding-bottom: 8px;
}
.lg-dialog StLabel {
	color: #b2b2b2;
}
.lg-dialog StEntry {
	color: #121212;
	selection-background-color: #b2b2b2;
	selected-color: black;
}
.lg-obj-inspector-title {
	spacing: 4px;
}
.lg-obj-inspector-button {
	border: 1px solid #b2b2b2;
	padding: 4px;
	border-radius: 0px;
}
.lg-obj-inspector-button:hover {
	border: 1px solid #ffffff;
}
.lg-dialog .cinnamon-link {
	color: #cccccc;
}
.lg-dialog .cinnamon-link:hover {
	color: #ffffff;
}
#LookingGlassDialog StBoxLayout#EvalBox {
	padding: 4px;
	spacing: 4px;
}
#LookingGlassDialog StBoxLayout#ResultsArea {
	spacing: 4px;
}
#lookingGlassExtensions {
	padding: 4px;
}
.lg-extension-list {
	padding: 4px;
	spacing: 6px;
}
.lg-extension {
	border: 1px solid #6f6f6f;
	border-radius: 0px;
	padding: 4px;
}
.lg-extension-name {
	font-weight: bold;
}
.lg-extension-meta {
	spacing: 6px;
}
#LookingGlassPropertyInspector {
	background: rgba(9,7,5,0.8);
	border: 2px solid grey;
	border-radius: 0px;
	padding: 6px;
	color: #b2b2b2;
}
/* ===================================================================
 * Date applet 
 * ===================================================================*/
.calendar {
	padding: .4em 1.75em;
	spacing-rows: 0px;
	spacing-columns: 0px;
}
.calendar-month-label {
	color: #b2b2b2;
	font-size: 7.5pt;
	padding-bottom: 8px;
	padding-top: 8px;
	font-weight: bold;
}
.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.svg");
    border-radius: 0px;
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-back:hover,
.calendar-change-month-back:focus {
    background-color: #990906;
     background-image: url("calendar-arrow-left-active.svg");
}

.calendar-change-month-back:hover:rtl,
.calendar-change-month-back:focus:rtl {
    background-color: #990906;
     background-image: url("calendar-arrow-right-active.svg");
}

.calendar-change-month-back:active {
    background-color: #7a0704;
    background-image: url("calendar-arrow-left-active.svg");
}

.calendar-change-month-back:active:rtl {
    background-color: #7a0704;
    background-image: url("calendar-arrow-right-active.svg");
    }

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.svg");
    border-radius: 0px;
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover,
.calendar-change-month-forward:focus {
    background-color: #ad3a37;
    background-image: url("calendar-arrow-right-active.svg");
}

.calendar-change-month-forward:hover:rtl,
.calendar-change-month-forward:focus:rtl {
    background-color: #ad3a37;
    background-image: url("calendar-arrow-left-active.svg");
}

.calendar-change-month-forward:active {
    background-color: #7a0704;
    background-image: url("calendar-arrow-right-active.svg");
}

.calendar-change-month-forward:active:rtl {
    background-color: #7a0704;
    background-image: url("calendar-arrow-left-active.svg");
}
.datemenu-date-label {
	padding: .4em 1.75em;
	font-size: 10.5pt;
	color: #b2b2b2;
	font-weight: bold;
}
.calendar-day-base {
	font-size: 7.5pt;
	text-align: center;
	width: 2.4em;
	height: 2.4em;
}
.calendar-day-base:hover {
	background-color: #ad3a37;
	color: #000;
}
.calendar-day-base:active {
	background-color: #7a0704;
color: #000;
}
.calendar-day-heading {
	color: #7b7b7b;
	padding-top: 1em;
}
.calendar-week-number {
	color: #9d9d9d;
	font-weight: bold;
}
/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day:ltr {
	border: 1px solid #000;
	color: #b2b2b2;
	border-top-width: 0;
	border-left-width: 0;
}
.calendar-day-top:ltr {
	border-top-width: 1px;
}
.calendar-day-left:ltr {
	border-left-width: 1px;
}
.calendar-day:rtl {
	border: 1px solid #000;
	color: #b2b2b2;
	border-top-width: 0;
	border-right-width: 0;
}
.calendar-day-top:rtl {
	border-top-width: 1px;
}
.calendar-day-left:rtl {
	border-right-width: 1px;
}
.calendar-work-day {
background-color: rgba(9,7,5,0.8);
}
.calendar-nonwork-day {
	background-color: rgba(9,7,5,0.3);
    color: #9b9b9b;
}
.calendar-today {
	background-image:none;
	text-shadow: white 0px 2px 2px;
	color: black;
	font-weight: bold;
}
.calendar-other-month-day {
	 color: #0f0f0f;
    background-color:  rgba(255,255,255,0.1);
}
.calendar-day-with-events {
	font-weight: bold;
	color: white;
    background: #94c269;
}
/* ===================================================================
 * Notifications
 * ===================================================================*/
#notification {
	font-size: 8.5pt;
	border-radius: 0px;
	border: 1px solid rgba(9,7,5,0.4);
	background: rgba(9,7,5,0.8);
	padding: 8px 8px 8px 8px;
	spacing-rows: 10px;
	spacing-columns: 10px;
	margin-from-right-edge-of-screen: 20px;
	width: 34em;
	color: white;
}
#notification.multi-line-notification {
	padding-bottom: 8px;
	color: white;
}
/* We use row-span = 2 for the image cell, which prevents its height preferences to be
	taken into account during allocation, so its height ends up being limited by the height
	of the content in the other rows. To avoid showing a stretched image, we set the minimum
	height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
	min-height: 159px;
	color: white;
}
#notification-scrollview {
	max-height: 10em;
}
#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
	height: 1em;
}
#notification-scrollview:ltr > StScrollBar {
	padding-left: 6px;
}
#notification-scrollview:rtl > StScrollBar {
	padding-right: 6px;
}
#notification-body {
	spacing: 5px;
}
#notification-actions {
	spacing: 10px;
}
.notification-button {
	border-radius: 0px;
	padding: 4px 8px 5px;
}
.notification-button:focus {
	padding: 3px 8px 4px;
}
.notification-icon-button {
	border-radius: 0px;
	padding: 5px;
}
.notification-icon-button:focus {
	padding: 4px;
}
.notification-icon-button > StIcon {
	icon-size: 36px;
}
#notification StEntry {
	padding: 4px;
	border-radius: 0px;
	color: #121212;
	selected-color: black;
	border: 1px solid #b2b2b2;
	background-color: #b2b2b2;
transition-duration: 300ms;
    box-shadow: -4px 0 #990906 inset;
	caret-color: #141414;
	caret-size: 1px;
}
#notification StEntry:focus {
	border: 1px solid #e5e5e5;
	color: #191919;
	background-color: #e5e5e5
    box-shadow: -4px 0 #990906 inset;
	caret-color: #141414;
	selection-background-color: #990906;
}
/* ===================================================================
 * Alt Tab
 * ===================================================================*/
#altTabPopup {
	padding: 8px;
	spacing: 16px;
}
.switcher-list {
	background: rgba(9,7,5,0.8);
	border: 1px solid rgb(9,7,5);
	border-radius: 0px;
	padding: 20px;
	font-size: 9pt;
	color: white;
	text-shadow: black 0px 0px 2px;
}
.switcher-list-item-container {
	spacing: 8px;
}
.thumbnail-scroll-gradient-left {
	background-gradient-direction: horizontal;
	background-gradient-start:rgba(9,7,5, 0.9);
	background-gradient-end: :rgba(9,7,5, 0.9);
	border-radius: 0px;
	border-radius-topright: 0px;
	border-radius-bottomright: 0px;
	width: 60px;
}
.thumbnail-scroll-gradient-right {
	background-gradient-direction: horizontal;
	background-gradient-start:rgba(9,7,5, 0.9);
	background-gradient-end::rgba(9,7,5, 0.9);
	border-radius: 0px;
	border-radius-topleft: 0px;
	border-radius-bottomleft: 0px;
	width: 60px;
}
.switcher-list .item-box {
	padding: 8px;
	border-radius: 0px;
}
.switcher-list .item-box:outlined {
	padding: 6px;
	border:  2px solid rgb(255,255,255);
}
.switcher-list .item-box:selected {
	background: rgba(255,255,255,0.18);
}
.switcher-list .thumbnail-box {
	padding: 2px;
	spacing: 4px;
}
.switcher-list .thumbnail {
	width:	256px;
}
.switcher-list .separator {
	width: 1px;
	background: #191919;
}
.ripple-box {
	width: 52px;
    height: 52px;
	background-image: url("ripple-ltr.svg");
}
.ripple-box:rtl {
	background-image: url("ripple-rtl.svg");
}
.switcher-arrow {
	border-color: rgba(0,0,0,0);
	color: #7b7b7b;
}
.switcher-arrow:highlighted {
	border-color: rgba(0,0,0,0);
	color: white;
}
.switcher-preview-backdrop {
   background-color: rgba(25,25,25,0.95);
}

/* ===================================================================
 * Modal dialogs
 * ===================================================================*/
.modal-dialog {
	font-size: 12pt;
	border-radius: 0px;
	background-color: rgba(9,7,5,0.8);
    border: 2px solid rgb(9,7,5);
    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.modal-dialog-button-box {
	spacing: 21px;
}
.modal-dialog-button {
	border-radius: 0px;
	font-size: 11pt;
	color: #b2b2b2;
	margin-left: 10px;
	margin-right: 10px;
	padding: 4px 32px 5px;
}
.modal-dialog-button:disabled {
	color: #4c4c4c;
}
.modal-dialog-button:focus {
	padding: 3px 31px 4px;
}
/* ===================================================================
 * Run dialog
 * ===================================================================*/
.run-dialog-label {
	font-size: 9pt;
	color: #b2b2b2;
    font-weight: bold;
}
.run-dialog-error-label {
	font-size: 9pt;
	color: #ff0000;
}
.run-dialog-error-box {
	padding-top: 15px;
	spacing: 5px;
}
.run-dialog-completion-box { 
        padding-left: 15px;
        font-size: 10px;
}
.run-dialog-entry {
	font-size: 10.5pt;
	font-weight: bold;
	width: 23em;
	color: #7b7b7b;
	selection-background-color: #990906;
	selected-color: black;
}
.run-dialog {
	border-radius: 0px;
	padding-right: 21px;
	padding-left: 21px;
	padding-bottom: 15px;
	padding-top: 15px;

}
.lightbox {
	background-color: rgba(0, 0, 0, 0.4);
}

/* CinnamonMountOperation Dialogs */
.cinnamon-mount-operation-icon {
	icon-size: 48px;
}
.mount-password-reask {
	color: red;
}
.show-processes-dialog,
.mount-question-dialog {
	spacing: 24px;
}
.show-processes-dialog-subject,
.mount-question-dialog-subject {
	font-size: 12pt;
	font-weight: bold;
	color: #b2b2b2;
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 6px;
}
.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
	padding-left: 0px;
	padding-right: 17px;
}
.show-processes-dialog-description,
.mount-question-dialog-description {
	font-size: 10pt;
	color: white;
	padding-left: 17px;
	width: 28em;
}
.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
	padding-right: 17px;
}
.show-processes-dialog-app-list {
	font-size: 10pt;
	max-height: 200px;
	padding-top: 24px;
	padding-left: 49px;
	padding-right: 32px;
}
.show-processes-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px;
}
.show-processes-dialog-app-list-item {
	color: #b2b2b2;
}
.show-processes-dialog-app-list-item:hover {
	color: white;
}
.show-processes-dialog-app-list-item:ltr {
	padding-right: 1em;
}
.show-processes-dialog-app-list-item:rtl {
	padding-left: 1em;
}
.show-processes-dialog-app-list-item-icon:ltr {
	padding-right: 17px;
}
.show-processes-dialog-app-list-item-icon:rtl {
	padding-left: 17px;
}
.show-processes-dialog-app-list-item-name {
	font-size: 10pt;
}
/* ===================================================================
 * Magnifier
 * ===================================================================*/

.magnifier-zoom-region {
	border: 2px solid rgba(128, 0, 0, 255);
}
.magnifier-zoom-region.full-screen {
	border-width: 0px;
}
/* ===================================================================
 * On screen keyboard
 * ===================================================================*/

#keyboard {
	  background: rgba(9,7,5,0.8);
}
.keyboard-layout {
	spacing: 10px;
	padding: 10px;
}
.keyboard-row {
	spacing: 15px;
}
.keyboard-key {
	min-height: 30px;
    min-width: 30px;
    background-gradient-start: rgba(153,9,6,0.4);
    background-gradient-end: rgba(153,9,6,0.1);
    background-gradient-direction: vertical;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 0px;
    border: 2px solid #990906;
    color: white;
}
.keyboard-key:grayed {
	color: #808080;
   border-color: #808080;
}
.keyboard-key:checked,
.keyboard-key:hover {
	background: #7a0704;
    border: 3px solid white;
}
.keyboard-key:active {
	 background: #808080;
}
.keyboard-subkeys {
	color: white;
    padding: 5px;
    -arrow-border-radius: 10px;
    -arrow-background-color: #090909;
    -arrow-border-width: 2px;
    -arrow-border-color: white;
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}
/* ###################################################################
 * Cinnamon Specific Section 
 * ###################################################################*/
/* ===================================================================
 * Menu (menu.js)
 * ===================================================================*/
/* Main menu title */

.menu-favorites-box {
	width: 70%;
    margin: auto;
    padding: 0px;
	border: 0px solid #0c0c0c;
	border-radius: 0px;	
    background: rgba(0,0,0,0.6);
    box-shadow: none;   
}
.menu-favorites-button {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
    transition-duration: 80;
}
.menu-favorites-button:hover {
	color:  white;
    background: rgba(255,255,255,0.18);
	border: 0px solid rgba(255,255,255,0.5);
	/*border-right-width: 1px;
      border-left-width: 1px;
      padding-right:9px;
      padding-left:9px; */
	box-shadow: none;
	border-radius: 0px;
}
.menu-places-box {
	margin: auto;
	padding: 10px;
	border: 0px solid #666;
}
.menu-places-button {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.menu-categories-box {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
}
.menu-applications-inner-box {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}
.menu-applications-outer-box {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}
.menu-application-button {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
    transition-duration: 80;
}
.menu-application-button:highlighted {
	/* This style is used in menu application buttons for applications which were newly installed */
	font-weight: bold;
}
.menu-application-button-selected {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	color: white;
	background: rgba(255, 255, 255, 0.18);
    border: 0px solid rgba(255,255,255,0.5);
	/*border-right-width: 1px;
      border-left-width: 1px; */
	box-shadow: none;
	border-radius: 0px;
}
.menu-application-button-selected:highlighted {
	/* This style is used in menu application buttons for applications which were newly installed */
	font-weight: bold;
}
.menu-application-button-label:ltr { 
	padding-left: 5px;
}
.menu-application-button-label:rtl { 
	padding-right: 5px;
}
.menu-category-button {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
    transition-duration: 80;
}
.menu-category-button-greyed {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	color: #9C9C9C;
	font-style: italic;
}
.menu-category-button-selected {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
	color: white;
	background: rgba(255, 255, 255, 0.18);
    border: 0px solid rgba(255,255,255,0.5);
	/* border-right-width: 1px;
       border-left-width: 1px; */
	 box-shadow: none;
	border-radius: 0px;
}
.menu-category-button-label:ltr {
	padding-left: 5px;
}
.menu-category-button-label:rtl {
	padding-right: 5px;

}
.menu-category-button-button:hover {
	background-color: rgba(255, 255, 255, 0.18);;
	border-radius: 0px;
}
/* Name and description of the currently hovered item in the menu
 * This appears on the bottom right hand corner of the menu*/
.menu-selected-app-box {
	padding-right: 30px;
	padding-left: 28px;
    padding-top: 5px;
    padding-bottom: 5px;
	text-align: right;
    height: 30px;
}

.menu-selected-app-box:rtl {
	padding-top: 10px;
	height: 30px;
}

.menu-selected-app-title {
	font-weight: bold;
}
.menu-selected-app-description {
	max-width: 150px;
}
.menu-search-box:ltr {
	padding-left: 30px;
}
.menu-search-box:rtl {
	padding-right: 30px;
}
#menu-search-entry {
	padding: 5px;
	border-radius: 0px;
	color: #b2b2b2;
	border: 1px solid #3a3836;
    background-color: #3a3836;
	selected-color: black;
	caret-color: #b2b2b2;
	caret-size: 1px;
	width: 400px;
	height: 15px;
	transition-duration: 300ms;
    box-shadow: 4px 0 #990906 inset;
}
#menu-search-entry:focus,
#menu-search-entry:hover {
	border: 1px transparent rgba(58, 56, 54, 0.3 );
    background-color: rgba(58, 56, 54, 0.3 );
    transition-duration: 300ms;
    box-shadow: 4px 0 #990906 inset;
}
#menu-search-entry:hover {
	transition-duration: 300;
}
#menu-search-entry:focus {
	color: #b2b2b2;
	font-weight: bold;
	transition-duration: 0;
}
.menu-search-entry-icon {
	icon-size: 1em;
	color: #141414;
}
/* Context menu (at the moment only for favorites) */
.menu-context-menu {
}
/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box {
	spacing: 3px;
	padding-left: 1px;
	padding-top: 1px;
}
.window-list-item-label {
	font-weight: bold;
	width: 15em;
	min-width: 5px;
}
.window-list-item-box {
	color: #b2b2b2;
	/* text-shadow: 0 -1px rgba(0, 0, 0, 0.54353); */
    border: 0px solid rgba(0,0,0,0);
	padding-left: 5px;
	padding-right: 5px;
	transition-duration: 100;    
    background-color: rgba(0,0,0,0.3);
}

.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus	{ 
    color: white;
    border-radius:0px;
    border: 0px solid rgba(255,255,255,0.5);
	border-bottom-width: 1px;
    background-color: rgba(38,38,38,0.5);
    padding-bottom: -2px;
}
.window-list-item-box:hover,
.window-list-item-box:active:hover,
.window-list-item-box:checked:hover,
.window-list-item-box:focus:hover	{ 
    color: white;
    background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.12);
	background-gradient-end: rgba(255,255,255,0.18);
	border: 0px solid rgba(255,255,255,0.5);
	border-bottom-width: 1px;
    padding-bottom: -2px;
}
.window-list-item-demands-attention {
	background-gradient-start: rgba(255,52,52,0.5);
	background-gradient-end: rgba(255,144,144,0.5);
}
/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/
.sound-button-container {
	padding-right: 3px;
	padding-left: 3px;
}
.sound-button {
	width: 22px;
	height: 13px;
	border: 1px solid #b2b2b2;
	border-radius: 0px;
	padding: 5px;
}
.sound-button:hover {
	border: 1px solid white;
}
.button StIcon {
	icon-size: 1.4em;
}
.sound-track-infos {	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.sound-track-info {
	padding-top: 2px;
	padding-bottom: 2px;
}
.sound-track-info StIcon {
	icon-size: 1em;

}
.sound-track-info StLabel {
	padding-left: 5px;
	padding-right: 5px;
}
.sound-track-box {	
	padding-left: 15px;
	padding-right: 15px;	
	max-width: 220px;
}
.sound-seek-box {
   padding-left: 20px;
}
.sound-seek-box StLabel {
   padding-top: 2px;
}
.sound-seek-box StIcon {
   icon-size: 1em;
}
.sound-seek-slider {
   width: 140px;   
}
.sound-volume-menu-item {
	padding: .4em 1.75em;
}
.sound-volume-menu-item StIcon {
	icon-size: 1.14em;
	padding-left: 8px;
	padding-right: 8px;
}
.sound-playback-control {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

/* Added from Cloak 3.20*/

.sound-player {
  padding: 0 0px;
}

.sound-player > StBoxLayout:first-child {
  padding: 5px 10px 12px 10px;
  spacing: 0.5em;
}

.sound-player > StBoxLayout:first-child StButton:small {
  width: 16px;  /* was 16 */
  height: 8px;  /* was 8 */
  padding: 1px; /* was 1*/
}

.sound-player > StBoxLayout:first-child StButton:small StIcon {
  icon-size: 12px;
}

.sound-player-generic-coverart {
  background: rgba(0, 0, 0, 0.2);
}

.sound-player-overlay {
  width: 290px; /* was 290 */
  height: 70px;
  padding: 15px;
  spacing: 0.5em;
  background: rgba(0, 0, 0, 0.7);
  border: 0px solid rgba(0,0,0,0.0);
  color: #b2b2b2;
}

.sound-player-overlay StButton {
  width: 33px;  /* was 22 */
  height: 20px; /* was 13 */
  padding: 5px; /* was 5 */
  color: #888a85;
  /* border-radius: 1px; */
  /* border: 1px solid rgba(10, 10, 10, 0.3); */
  /* background: rgba(0, 0, 0, 0.3); */
}

.sound-player-overlay StButton StIcon {
  icon-size: 20px;
}

.sound-player-overlay StButton:hover,
.sound-player-overlay StButton:active:hover {
  color: white;
  background: rgba(255, 255, 255, 0.18);
  border: 0px solid rgba(255,255,255,0.5);
  border-right-width: 1px;
  border-left-width: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

.sound-player-overlay StButton:active {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border: 0px solid rgba(255,255,255,0.5);
  border-right-width: 1px;
  border-left-width: 1px;
  padding-left: 4px;
  padding-right: 4px;
}


.sound-player-overlay StBoxLayout {
  padding-top: 2px;
}

.sound-player .slider {
  height: 0.5em;
  padding: 0;
  border: 0px solid rgba(100,100,100,0.2);
  border-bottom-width: 1px;
  -slider-height: 0.5em;
  -slider-background-color: #252528;
  -slider-border-color: transparent;
  -slider-active-background-color: rgb(140,140,140);
  -slider-active-border-color: transparent;
  -slider-border-width: 0px;
  -slider-handle-radius: 0px;
}

/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
#workspaceSwitcher {
	spacing: 0px;
	padding: 3px;
	
}
.workspace-button {
	width: 20px;
	height: 10px;
	color: #b2b2b2;
	border: 1px;
	border-color: #0c0c0c;
	padding: 2px;
	transition-duration: 300;
}
.workspace-button:outlined {
	padding: 1px;
	background-gradient-direction: vertical;
	background-gradient-start: #262626;
	background-gradient-end: #262626;
	color: #b2b2b2;
	box-shadow: none;
}
/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/
#panel-launchers-box {
	padding-left: 7px;
}
.panel-launcher {
	margin: 1px;
	padding: 1px;
	transition-duration: 150;
}
.panel-launcher:hover {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.0);
	background-gradient-end: rgba(255,255,255,0.2);
	border: 0px solid rgba(255,255,255,0.5);
		border-bottom-width: 1px;
}
.panel-launcher-add-dialog-content-box {
	padding: 6px;
	spacing: 20px;
}
.panel-launcher-add-dialog-content-box-left {
	padding: 6px;
	spacing: 20px;
}
.panel-launcher-add-dialog-content-box-right {
	padding: 6px;
	spacing: 10px;
}
.panel-launcher-add-dialog-entry {
	padding: 5px;
	border-radius: 0px;
	color: #161616;

	selected-color: black;
	caret-color: #141414;
	caret-size: 1px;
	width: 250px;
	border: 1px solid #b2b2b2;
    background-color: #b2b2b2;
    transition-duration: 300ms;
    box-shadow: 4px 0 #990906 inset;
}
.panel-launcher-add-dialog-entry:focus,
.panel-launcher-add-dialog-entry:hover {
	border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}
.panel-launcher-add-dialog-entry:hover {
	transition-duration: 300;
}
.panel-launcher-add-dialog-entry:focus {
	color: #000;
	font-weight: bold;
	transition-duration: 0;
}
/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner {
	background-image: url("overview.png");
}
#overview-corner:hover {
	background-image:	url("overview-hover.png");
}
/* ===================================================================
 * Applets (applet.js) 
 * ===================================================================*/
.applet-separator {
	padding: 5px 4px;
}
.applet-separator-line {
	width: 2px;
	background: #191919;
}

.applet-box {
	padding-left: 3px;
	padding-right: 3px;
	color: #b2b2b2;
	text-shadow: black 0px 0px 2px;
	transition-duration: 300;
}
.applet-box:hover {
	color: #fff;
}
.applet-label {	
	font-weight: bold;
	color: #b2b2b2;		
}
.applet-box:hover > .applet-label {
	color: #fff;
	text-shadow: black 0px 0px 5px;
}
.applet-icon {
	color: #b2b2b2;
	icon-size: 22px;
}
.applet-box:hover .applet-icon {
	color: #fff;
/* Broken with GNOME 3.14 (icon-size is not honoured)
 *	icon-shadow: white 0px 0px 3px;*/
}

/* ===================================================================
 * Desklets (desklet.js) 
 * ===================================================================*/
.desklet {        
    color: #fff;    
}

.desklet-with-borders {
    background-color: rgba(9,7,5,0.8);
    border: 2px solid rgb(9,7,5);
    color: #fff;
    border-radius-bottomleft: 0px;
    border-radius-bottomright: 0px;
    border-radius-topleft: 0px;
    border-radius-topright: 0px;
}

.desklet-with-borders-and-header {
    background-color: rgba(9,7,5,0.8);
    border: 2px solid rgb(9,7,5);
    color: #fff;
    border-top: 1px;
    border-radius-bottomleft: 0px;
    border-radius-bottomright: 0px;
}

.desklet-header { 
    border-radius-topleft: 0px;
    border-radius-topright: 0px;
    font-size: 10.5pt;
    border: 2px solid rgb(9,7,5);
    border-bottom: 0px;
    background-color: rgba(9,7,5, 0.8);
    color: #fff;
    padding: 6px;
}

.desklet-drag-placeholder { 
    border: 2px solid #990906;
    background-color: rgba(9,7,5, 0.3);
}
/* ===================================================================
 * About Dialog (applet.js and desklet.js)
 * ===================================================================*/
.about-content {
    width: 550px;
    height: 250px;
    spacing: 8px;
    padding-bottom: 16px;
}

.about-title {
    font-size: 2em;
    font-weight: bold;
}

.about-uuid {
    font-size: .8em;
}

.about-icon {
    padding-right: 20px;
}

.about-scrollBox {
    border: solid 1px grey;
    border-radius: 0px;
}

.about-scrollBox-innerBox {
    padding: 1.2em;
    spacing: 1.2em;
}

.about-description {
    padding-top: 4px;
}

.about-version {
    padding-left: 7px;
}


/* ===================================================================
 * Clock Desklet (desklet.js) 
 * ===================================================================*/
.clock-desklet-label {
}

/* ===================================================================
 * Workspace OSD
 * ===================================================================*/

.workspace-osd {
	color: #000;
	text-shadow: black 5px 5px 5px;
	font-weight: bold;
	font-size: 48pt;	
}

.expo-workspaces-name-entry {
	padding: 5px;
	border-radius: 0px;
	color: #161616;
	border: 1px solid #b2b2b2;
    background-color:  #b2b2b2;
    transition-duration: 300ms;
    box-shadow: 4px 0 #990906 inset;
	selected-color: black;
	caret-color: #141414;
	caret-size: 1px;
	width: 250px;
	height: 15px;
	text-align: center;	
}

.expo-workspaces-name-entry#selected {
	background-color: #e5e5e5;
	font-weight: bold;
	color: rgb(0, 0, 0);
}

.expo-workspaces-name-entry:focus {
	color: #000;
	font-weight: bold;
	font-style: italic;
	transition-duration: 300;
}

/* ===================================================================
 * Notification Applet
 * ===================================================================*/

.notification-applet-padding {
	padding: .5em 1em;
}

.notification-applet-container {
	max-height: 100px;
}

/* Check Boxes */
.check-box CinnamonGenericContainer {
    spacing: .2em;
}

.check-box StBin {
    width: 24px;
    height: 18px;
    background-image: url("checkbox-off.png");
}

.check-box:focus StBin {
    background-image: url("checkbox-off-focused.png");
}

.check-box:checked StBin {
    background-image: url("checkbox.png");
}

.check-box:focus:checked StBin {
    background-image: url("checkbox-focused.png");
}

.check-box StLabel {
   font-weight: normal;
}

.radiobutton CinnamonGenericContainer {
    spacing: .2em;
    height: 26px;
    padding-top: 2px;
}

.radiobutton StBin {
    width: 22px;
    height: 22px;
    background-image: url("radio-checked.svg");
    border-radius: 15px;
}

.radiobutton:focus StBin {
    background-image: url("radio-checked-focused.svg");
}

.radiobutton:checked StBin {
    background-image: url("radio-un-checked.svg");
}

.radiobutton:focus:checked StBin {
    background-image: url("radio-un-checked-focused.svg");
}

.radiobutton StLabel {
   padding-top: 4px;
   font-size: 0.9em;
   box-shadow: none;
}

.flashspot {
   background-color: white;
}

/* Snap/tile OSD popup */

.snap-osd {
    font-size: 18pt;
    border-radius: 24px;
    background-color: rgba(9,7,5, 0.9);
    border: 2px solid rgb(9,7,5);
    color: #b2b2b2;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
