* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Cantarell, FontAwesome;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.95);
    /*border-bottom: 0px solid rgba(100, 114, 125, 0.5);*/
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 12px;
    background-color: transparent;
    color: #BEBEBE;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -2px #BEBEBE;
}

#workspaces button.focused {
    color: #89BDFF;
    background-color: #404040;
    box-shadow: inset 0 -2px #89BDFF;
}

#workspaces button.urgent {
    color: #F04141;
    background-color: #404040;
    box-shadow: inset 0 -2px #F04141;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-music,
#custom-updates,
#custom-envsensor,
#custom-mousebat,
#custom-gputemp,
#custom-watertemp,
#custom-powermenu,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    color: #BEBEBE;
    padding: 0 6px;
    margin: 0 3px;
}


#custom-gsimplecal,
#custom-scratchpad{
    color: #BEBEBE;
    padding: 0 6px;
    margin: 0 3px;
}

#window,
#workspaces {
    color: #BEBEBE;
    padding: 0 6px;
    margin: 0 3px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    box-shadow: inset 0 -2px #F04141;
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    min-width: 120px;
}

#pulseaudio.muted {
    min-width: 130px;
    color: #A6E22A;
    background-color: #404040;
    box-shadow: inset 0 -2px #A6E22A;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: transparent;
}
