* {
	background-image: none;
}
window {
	background-color: rgba(0, 0, 0, 0.65);
}
button {
    color: #BEBEBE;
	background-color: #000;
	border-style: solid;
	border-width: 5px;
	background-repeat: no-repeat;
	background-position: 78px 64px;
	background-size: 50%;
	min-width: 256px;
	min-height: 256px;
}

button:active, button:focus {
	background-color: #101010;
	outline-style: none;
}

button:hover {
	background-color: #404040;
	outline-style: none;
}

#lock {
    background-image: image(url("/home/lars/.config/wlogout/icons/lock.png"), url("/home/lars/.config/wlogout/icons/lock.png"));
    margin: 20px 20px;
    border-color: #89BDFF;
}

#logout {
    background-image: image(url("/home/lars/.config/wlogout/icons/logout.png"), url("/home/lars/.config/wlogout/icons/logout.png"));
    margin: 20px 20px;
    border-color: #89BDFF;
	background-position: 86px 64px;
}

#suspend {
    background-image: image(url("/home/lars/.config/wlogout/icons/suspend.png"), url("/home/lars/.config/wlogout/icons/suspend.png"));
    margin: 20px 20px;
    border-color: #F04141;
}

#hibernate {
    background-image: image(url("/home/lars/.config/wlogout/icons/hibernate.png"), url("/home/lars/.config/wlogout/icons/hibernate.png"));
    margin: 20px 20px;
    border-color: #F04141;
}

#shutdown {
    background-image: image(url("/home/lars/.config/wlogout/icons/shutdown.png"), url("/home/lars/.config/wlogout/icons/shutdown.png"));
    margin: 20px 20px;
    border-color: #A6E22A;
}

#reboot {
    background-image: image(url("/home/lars/.config/wlogout/icons/reboot.png"), url("/home/lars/.config/wlogout/icons/reboot.png"));
    margin: 20px 20px;
    border-color: #A6E22A;
}
